<main role="main" class="container container2">

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="../assets/images/lam.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-6 perenos">
      <h1 class="stayltext">Обо мне:</h1>

      <p>Я крутой фотограф бьлабалаьлааблаблаблаблабаалаблаблабллалаблабабалалалабалбалбалбалабалабалбалбалаблабалблабалбалаблаблабалбалаблаблаблаблабабалбааблалаблалабалбалаблабалб</p>

     <!--<ul class="list-inline">
        <ul>
          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100026636616910">Я в Facebook:</a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100026636616910"><i class="fab fa-facebook"></i></li>
        </ul>
        <ul>
          <li class="list-inline-item"><a href="https://www.instagram.com/dariaboiko_photographer/">Я в instagram:</a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/dariaboiko_photographer/"><i class="fab fa-instagram"></i></li>

        </ul>
        <ul>

          <li class="list-inline-item"><a href="#">Я в Вконтакте:</a></li>
          <li class="list-inline-item"><a href="#"><a class="fab fa-vk"></a></li>
        </ul>
      </ul>-->

      <!--<form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Номер телевона</label>
          <input type="tel" class="form-control" id="exampleFormControlSelect1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Ваш коментарий </label>
          <input type="text" class="form-control" id="exampleFormControlSelect2">
        </div>

      </form>-->
      <div  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="colorx2 d-lg-none d-md-none">&times;</span>
                    </button>
                    <h2 class="" id="exampleModalLabel">Связь со мной</h2>

                    <form id="request-form" autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="contactForm">

                      <div class="form-group ">
                        <input type="text" name="fullname" formControlName="fullname" class="form-control" id="inputEmail4" placeholder="Full Name*" required>
                      </div>

                      <div class="form-group">
                        <input type="email"  name="email" required class="form-control" formControlName="email" id="inputPassword4" placeholder="Email address*" >
                      </div>

                      <div class="form-group">
                        <input type="text" name="company" class="form-control" formControlName="company" id="inputAddress" placeholder="Coment" >
                      </div>

                      <div class="form-row">

                        <div class="form-group col-md-6 ">
                          <input type="tel" name="tel"  pattern="[\+][ 0-9]+$" class="form-control" formControlName="tel" id="inputAddress2" placeholder="Phone number*" required>
                        </div>

                      </div>

                      <div class="g-recaptcha" data-sitekey="6LfqH30UAAAAAK23Al3c6eZpOlcry3us8-I6Bsy3"></div>
                      <button type="submit" class="btn btn-primary"> < SUBMIT ></button>
                    </form>

                    <div class="modal-footer">

                  </div>
                </div>
              </div>
            </div>
          </div>




      <p>Контактный номер:380(99)3428612</p>

    </div>
  </div>






</main>
