<main role="main" class="container container2">

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="../assets/images/love.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-6">
      <h1 class="stayltext">Love story:</h1>
      <p>- Предварительная обсуждение места , время и образа;</p>

      <p class="text-muted"> - фотосьемка по часово;</p>


      <p class="text-muted"> - цветокоррекция всех фотографий, ретушь крупных планов;</p>

      <p class="text-muted"> - готовый материал отдается через файлообменник по интернету;</p>

      <p class="text-muted">- Скидка на изготовление книги или каробки 5%</p>


    </div>
  </div>


</main>
