<main role="main" class="container container2">
  <carousel>
    <slide>
      <img src="../assets/images/fotobox1.jpg-1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/images/fotobox1.jpg-1.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/images/fotobox1.jpg-1.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <div class="text">
    <h2>Виды:</h2>
    <p>-Расклодной</p>
    <p>-Какой то другой</p>
    <h2>Стоимость</h2>
    <p>shdbosajebdfdsjhfoaisdhcfa;osefbcndsojcbndsoacnbdsjcnb</p>
  </div>
</main>
