<main role="main" class="container container2 ">

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../assets/images\namber3.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-6">
      <h1 class="stayltext">Свадебная фотосъемка до 6 часов</h1>
      <p>- предварительная встреча и обсуждение свадебного дня;</p>
      <p class="text-muted">  - фотосъемка свадебного дня продолжительностью до 6 часов;</p>
      <p class="text-muted"> -  500-600 фотографий;</p>
      <p class="text-muted">  - цветокоррекция всех фотографий, ретушь крупных планов;</p>
      <p class="text-muted">- печать 20 фотографий форматом 15х21;</p>
      <p class="text-muted"> - готовый материал отдается на USB флешке в фирменной упаковке через 4 недели (первые 10 снимков в течении недели);</p>
      <p class="text-muted">  - скидка на изготовление книги 10%</p>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../assets/images\namber3.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-6">
      <h1 class="stayltext">Свадебная фотосъемка до 8 часов</h1>
      <p>- предварительная встреча и обсуждение свадебного дня;</p>
      <p class="text-muted"> - фотосъемка свадебного дня продолжительностью до 8 часов;</p>
      <p class="text-muted"> - 700-800 фотографий;</p>
      <p class="text-muted">- цветокоррекция всех фотографий, ретушь крупных планов;</p>
      <p class="text-muted">- печать 20 фотографий форматом 15х21;</p>
      <p class="text-muted">- готовый материал отдается на USB флешке в фирменной упаковке через 4-6 недели (первые 10 снимков в течении недели);</p>
      <p class="text-muted">- скидка на изготовление книги 10%</p>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../../assets/images\namber3.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-6">
      <h1 class="stayltext">Свадебная фотосъемка до 12 часов</h1>
      <p>- предварительная встреча и обсуждение свадебного дня;</p>
      <p class="text-muted">- фотосъемка свадебного дня продолжительностью до 12 часов;</p>
      <p class="text-muted">- 900-1000 фотографий;</p>
      <p class="text-muted">- цветокоррекция всех фотографий, ретушь крупных планов;</p>
      <p class="text-muted">- печать 30 фотографий форматом 15х21;</p>
      <p class="text-muted">- готовый материал отдается на USB флешке в фирменной упаковке через 5-8 недели (первые 10 снимков в течении недели);</p>
      <p class="text-muted">- скидка на изготовление книги 15%;</p>

    </div>

  </div>


  <div class="fotobook">
    <h2>Важные моменты:</h2>
  </div>
  <div class="moment">Если Ваши пожелания не совпадают ни с одним из перечисленных пакетов, мы обсудим условия съемки и создадим для Вас уникальный пакет услуг.</div>


  <div class="fotobook">
    <h2>-----</h2>
  </div>
  <div class=""><strong>- Если Вас устраивают </strong>мои услуги и условия фотосъемки, мы договариваемся о встрече, Вы вносите предоплату в размере 1000 грн. для бронирования даты дня свадьбы. Это Ваша уверенность в том, что дата съемки остается за Вами. С этого момента цена на
    услуги фотографа на съемку фиксируется и в дальнейшем не меняется. Окончательный расчет производится в день съемки с учетом предоплаты.</div>
  <div class=""><strong>- Обязательное условие </strong>— заказывая у меня фотосъемку, Вы соглашаетесь на использование Ваших фото в моем портфолио, на различных интернет-ресурсах, на участие в выставках,
    фотоконкурсах и т.д.. Фотосъемка на конфиденциальных условиях — плюс 20% к стоимости фотосъемки.</div>
  <div class=""><strong>- Аренда студии,</strong> отеля, ресторана и другого помещения для фотосессии оплачивает заказчик.</div>
  <div class=""><strong>- Количество получаемых фотографий </strong>ориентировочное и зависит от насыщенности Вашего свадебного дня, Вашего настроения и желания фотографироваться. Всегда стараюсь отдать клиенту максимально получившиеся фотографии. Если в день съемки изменяется программа свадебного
    дня, время или условия количество получаемых фотографий может уменьшиться, перерасчет стоимости не производится.</div>
  <div class=""><strong>- Исходные</strong> RAW-файлы не отдаются.</div>
  <div class=""><strong>- Возможно заказать</strong> фотокниги и фотохолсты различных размеров;</div>
  <div class=""><strong>- Маршрут прогулки </strong>и вариант свадебной фотосъемки обговаривается после бронирования даты.</div>
  <div class=""><strong>- В случае выезда за город,</strong> а так же начала съемки ранее 08.00 и окончания позднее 23.00 транспортные расходы берет на себя заказчик.</div>
  <div class=""><strong>- Дополнительное время </strong>работы на свадебной съемке сверх выбранного пакета оплачивается из расчета 700 грн/час.</div>
  <div class=""><strong>- В случае Вашего отказа</strong> от фотосъемки предоплата не возвращается.</div>
  <div class=""><strong>- Возможно заказать</strong> фотокниги и фотохолсты различных размеров;</div>
  <div class="fotobook">
    <h2>Важные акции:</h2>
  </div>
  <h3 class="moment"><strong>Скидка на предсвадебное love story 50%;</strong></h3>
</main>
