


  <div class="fotobook">
    <h2>Подготовка к свадебной фотосессии:</h2>
  </div>


<main role="main" class="container container2">




  <div>
    <h1 class="stayltext">Свадебные фотосессии</h1>
    <p>Важное событие в ващей жизни.Оно пройдет очень быстро и каждый хочет оставить воспоминаня о нем.Фотографии это как раз то что вам нужно.</p>

    <p>Мои советы: </p>
    <p> - Заранее нужно продумать то какой вы хотите видеть этот день .Как встретиться с женихом или невестой. Это может быть отдельные фотосесси сборов жениха и невесты ,выкуп или утро вместе. Так же важно продумать место для фотосесси ,парк, лес ,поле ,загс,фотостудии и  ресторан , заранее обговорив все с фотографом. </p>

    <p>- Так же можно сделать репетицыю фотосесии в Love story, хорошая практика для свадебного дня, познакомится с фотографом и почуствовать себя под прицелом объектива .</p>



  </div>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <img class="card-img-top" src="../assets/images/widding.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/widding1.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/widding2.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-4">
      <div >
        <img class="card-img-top" src="../assets/images/widding3.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/widding4.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/children6.jpg" alt="Card image cap">

      </div>

    </div>
    <div class="col-sm-4">
      <div  >
        <img class="card-img-top" src="../assets/images/style1.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
      </div>

    </div>
  </div>







</main>
