<main role="main" class="container container2">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Детская фотосессия Валентины</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Детская фотосессия Валентины</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Детская фотосессия Валентины</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Выпускной Дианы</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Выпускной Дианы</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber7.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Выпускной Дианы</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Свадьба Андрея и Дианы.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Свадьба Андрея и Дианы.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/images/namber6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Свадьба Андрея и Дианы.</p>
        </div>
      </div>
    </div>
  </div>
</main>
