<div class="fotobook">
  <h2>Фотосессии с детьми:</h2>
</div>
<main role="main" class="container">




  <div>
    <h1 class="stayltext">Особенности фотосессии с деть:</h1>
    <p>Милые создания дети. Детство очень быстро проходит , и это прекрасно что сейчас его можно запечатлить.</p>

    <p>Мои советы: </p>
    <p> - Выбирайте стиль одежды под то место  время красиво будут смотреться легкие ткани развивающиеся на ветру.Стиль кежоу хорошо подойдет для прогулок в парке.</p>

    <p>- Важно что бы цвет одежды был подобран правильно, с одной стороны не много цветов,с другой не сливайтесь в одном цвете .Комбинирование трех четерех цветов идеальный расклад;</p>



  </div>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <img class="card-img-top" src="../assets/images/children1.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/children2.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/children5.jpg" alt="Card image cap">


      </div>

    </div>
    <div class="col-sm-4">
      <div >
        <img class="card-img-top" src="../assets/images/children3.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/children4.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/children6.jpg" alt="Card image cap">

      </div>

    </div>
    <div class="col-sm-4">
      <div  >
        <img class="card-img-top" src="../assets/images/style1.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
      </div>

    </div>
  </div>







</main>
