.container2 {
  padding: 60px 15px 0;
}

.text{
  text-align: center;
}
.fotobook{
  margin-right: 200px;
  margin-left: 200px;

}

.fotobook h2 {
  overflow: hidden;
  text-align: center;
  font: 23px 'Oswald', sans-serif;
  color: #6d6a6a;
}
.fotobook h2:before,
.fotobook h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.fotobook h2:before {
  right: 0.5em;
  margin-left: -50%;
}
.fotobook h2:after {
  left: 0.5em;
  margin-right: -50%;
}
.fotobook h1 {
  font: 23px 'Oswald', sans-serif;
  color: #6d6a6a;
}
.fotobook p {
  font: 15px 'Oswald', sans-serif;
  color: #000000;
}
.fotobook .otctyp{

  text-align: right;
  color: #6d6a6a;
}
.stayltext{
  font: 23px 'Oswald', sans-serif;
  color: #6d6a6a;
}
main .fotobook {
  margin-top: 40px;
  margin-bottom: 70px;
}
main .perenos p{

  word-wrap: break-word;
}
.moment{
  text-align: center;
}
