<div class="fotobook">
  <h2>Как подобрать стиль для фотосесси?</h2>
</div>

<main role="main" class="container container2">




  <div>
    <h1 class="stayltext">Что одеть на фотосесию ? </h1>
    <p>Вкусы у всех разные, но я хочу поделиться своим, и рассказать как я вижу в обьектив вашу одежду.Одежда на фотосессию очень важный элемент, от нее будет зависить стиль фотографии передача вашего характера и настраенияю</p>

    <p>Мои советы: </p>
    <p> - Выбирайте стиль одежды под то место где вы будете вотографироваться.Если это природа в теплое время красиво будут смотреться легкие ткани развивающиеся на ветру.Стиль кежоу хорошо подойдет для прогулок в парке.</p>

    <p>- Важно что бы цвет одежды был подобран правильно, с одной стороны не много цветов,с другой не сливайтесь в одном цвете .Комбинирование трех четерех цветов идеальный расклад;</p>



  </div>
  <div class="row">
    <div class="col-sm-4">
      <div>
        <img class="card-img-top" src="../assets/images/stele4.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/stule2.jpg" alt="Card image cap">

      </div>

    </div>
    <div class="col-sm-4">
      <div >
        <img class="card-img-top" src="../assets/images/style3.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/style4.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/stule5.jpg" alt="Card image cap">

      </div>

    </div>
    <div class="col-sm-4">
      <div  >
        <img class="card-img-top" src="../assets/images/style1.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
        <img class="card-img-top" src="../assets/images/namber6.jpg" alt="Card image cap">
      </div>

    </div>
  </div>







</main>
